––––––––––saveAs: about-main.hbs
<div class="content">
  <div class="text-wrap">
    <p>
      A little lunch love project to share our love for unique meals.
      Share your ideas and vote for your favourites.
    </p>
    <p>
      This page is just as much about the tech as it's about the food.
      See the source code for this project on <a href="https://githubt.com/">GitHub</a>
    </p>
    <h2 style="font-size: 1em">— Christer & Clare</h2>
  </div>
</div>